@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1100px) {
    .complite-blocks_text {
        width: 80%;
    }
    .complite-blocks_video {
        width: 50%;
    }
    .content_video {
        width: 90%;
    }
}

@media screen and (max-width: 992px) {
    .design-content_1 {
         padding: 20px 0 20px 5px;
    }

    .design-content_2 {
        padding: 20px 15px 20px 15px;
    }

    .design-content_3 {
        padding: 20px 5px 20px 0;
    }

    .master-content_check {
        width: 50%;
    }

    .master-content_check input {
        width: 90%;
        margin: 20px;
    }
}

@media screen and (max-width: 880px) {
    .menu {
        width: 74%;
    }

    .complite-blocks {
        flex-wrap: wrap;
    }

    .complite-blocks_text {
        width: 100%;
    }

    .complite-blocks_video {
        width: 100%;
    }

    .complite-blocks_text h2 {
        text-align: center;
    }

    .complite-blocks_text p {
        text-align: center;
    }

    .complite-blocks_video {
        display: flex;
        
    }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {

}

@media screen and (max-width: 480px) {

}